@import 'variables.scss';

.app-header {
  .ant-row {
    height: 100%;
  }

  .avatar {
    background-color: $color-light;
    color: $color-accent-1;
  }

  .butt-in {
    text-align: center;
  }
}
