@import 'variables.scss';

.app-header {
  .ant-row {
    height: 100%;
  }

  h1 {
    color: $color-light;
  }

  .avatar {
    background-color: $color-light;
    color: $color-accent-1;
  }

  .top-nav {
    a {
      font-weight: 600;
      margin-right: 2rem;
    }
  }
}
