@import 'variables.scss';

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-header;
  color: #333;
}

html {
  --antd-wave-shadow-color: $color-accent-2;
}

::selection {
  background-color: $color-light-alt;
  text-shadow: 0px 0px 7px #00000066;
}

.ant-alert-info {
  background: $color-light-alt;
  border: $color-light-alt;
}

.ant-input,
.ant-input-password,
.ant-picker {
  &:active {
    filter: brightness(1.4);
  }

  ::selection,
  &:focus {
    filter: brightness(1);
    border-color: $color-accent-2;
  }

  &:hover {
    filter: brightness(1.1);
    border-color: $color-accent-2;
    // background-color: $color-light-alt !important;
  }
}

.ant-btn-primary {
  background-color: $color-accent-2;
  border: 0;
  outline: none;

  &:active {
    filter: brightness(1.4);
  }

  ::selection,
  &:focus {
    filter: brightness(1);
    background-color: $color-accent-2;
  }

  &:hover {
    filter: brightness(1.1);
    background-color: $color-accent-2;
    // background-color: $color-light-alt !important;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 24pt;
  overflow-y: scroll;
}

.layout {
  min-height: 100vh;
  background-color: $color-light;
}

.ant-layout-content {
  background-color: $color-light !important;
  min-height: 86vh;
}

h1.ant-typography {
  margin: 0;
}

.page-links {
  a {
    margin: 0 1rem;
  }
}

.blurred {
  color: #000;
  filter: blur(10px);
  text-shadow: 0px 0px 5px #000;
  user-select: none;
}

.ant-form-item {
  label,
  input,
  textarea {
    font-size: 16pt;
  }

  input.ant-checkbox-input {
    border: 1px solid $color-grey;
  }
}

.ant-form-item-label {
  width: 30%;
  text-align: right;
}

.ant-layout-header {
  background-color: #333;

  a {
    font-size: 16pt;
  }

  h1 {
    color: $color-light;
  }
}

.song-playing {
  animation: spin calc(60s / 72) infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  width: 100%;
}

main {
  padding: 3rem;
  max-width: 1200px;
  width: 100%;
  margin: auto;

  .ant-card-head {
    background: $color-accent-2;
    color: $color-light;
    font-family: $font-header;
    text-shadow: 3px 3px #00000033;

    &-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    &-title {
      // padding: 1rem 0 0 0;
      font-size: 18pt;
    }
  }

  .ant-card {
    margin: 1rem;
    background: $color-light;
  }

  .jam-list {
    background: $color-accent-2;
    border-radius: 2.2rem 0 0 0;

    .ant-card {
      font-family: $font-header;
      border-radius: 2.2rem 0 0 0;
      margin: 2rem;
      box-shadow: 3px 3px #00000044;
      left: 0px;
      top: 0px;
      transition-property: all;

      &-extra {
        margin: 0;
        padding: 0;
        font-family: $font-body;
        font-weight: 500;
        color: $color-light;
      }

      &-body {
        text-align: right;
        font-family: $font-body;
      }

      &:active {
        background-color: $color-light-alt;
      }

      &:hover {
        left: -2px;
        top: -3px;
        box-shadow: 8px 8px 1px #00000022;
      }
    }

    span {
      padding: 0 2rem;
      color: $color-light;
    }

    .jam-card {
      margin-right: 1rem;
      width: 300px;
    }
  }

  .ant-typography {
    font-family: $font-header;
    font-size: 38pt;
    margin: 2rem 0;
    text-shadow: 5px 5px #00000011;
  }

  .jam-details-header {
    border: 1px solid $color-grey;
    border-radius: 2rem 0 0 0;

    .ant-page-header-content {
      div {
        width: auto;
        margin: auto;
        padding: 0.25rem;
      }
    }
  }
}
