@import 'variables.scss';

.chat-room {
  .chat-avatar {
    color: '#ffffff';

    &.you {
      background-color: $color-accent-1;
    }

    &.them {
      background-color: $color-accent-2;
    }
  }

  .chat-log {
    height: 400px;
    max-height: 400px !important;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.6em;
      margin: 1rem 0;
    }

    &::-webkit-scrollbar-track {
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-light-alt;
      border-radius: 1rem;
    }
  }

  .ant-form-item {
    margin: 0;
  }

  .ant-form {
    text-align: right;
  }

  .chat-input {
    display: flex;
  }
}
