@import 'variables';

.app-footer {
  padding: 0 2rem;
  margin: 0;
  border-top: 1px solid $color-grey;

  p {
    font-size: 12pt;
    font-weight: 600;
    margin: 0;
  }

  .flex-right {
    display: flex;
    flex-direction: row;

    p,
    audio {
      padding-left: 1rem;
      margin: auto;
    }
  }

  audio {
    outline: none;
  }
}
