@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-header: Carter One;
$font-body: Roboto;

$color-light: #f9f9f9;
$color-light-alt: #ffe0ac;
$color-accent-1: #ffacb7;
$color-accent-2: #6886c5;
