#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;

  background: #ff5733;

  h2 {
    color: white;
  }

  a {
    color: white;
  }

  nav {
    a {
      margin: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  width: 100%;
  height: calc(100% + 75px);
  height: 100%;
  padding: 2rem;

  .main-header {
    text-align: center;
  }

  .ant-form {
    margin: auto;
  }
}

footer {
  // tood always absolute bottom position
  // make main content x bigger for scrollies
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  background: #ccc;
  display: flex;
  justify-content: space-between;
  padding: auto 2rem;
  align-items: center;

  * {
    margin: auto 2rem;
  }

  .player-transport {
    display: flex;
  }

  .player-info {
    display: flex;
    align-items: center;
  }
}
